/* copy code  */

.admin-layout {
  display: flex;
}

.admin-layout .side-bar {
  width: 230px;
  position: fixed;
  height: 100vh;
}

.admin-layout .main-category {
  width: calc(100vw - 230px);
  min-height: 100vh;
  margin-left: 230px;
}

.side-nav li:hover {
  cursor: pointer;
  background-color: rgb(125, 125, 125);
}

.side-bar-list > li {
  padding: 1rem 0;
}

.welcome-signin {
  animation: welcomeFadeIn 1s ease-in;
}

@keyframes welcomeFadeIn {
  from {
    opacity: 0;
    transform: translateX(-300px);
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.main {
  min-height: 83vh;
  background: rgba(205, 225, 255, 0.729);
}
.reset-password form {
  width: 450px;
  margin: auto;
  box-shadow: -5px 5px 10px grey;
  padding: 1rem;
  border-radius: 10px;
}
